<h1> <%= @company.name %> </h1>

<div class="company_orders">
  <h4>Order Lines:</h4>
    <% @company.orders.each do |order| %>
      <%= order.lines %>
    <% end %>
  <h4>Line Supplies:</h4>
    <% @company.orders.each do |order| %>
      <% order.lines.each do |line| %>
        <%= line.supply %>
      <% end %>
    <% end %>
</div>
