<h1> <%= @company.name %> </h1>

<div class="company_orders">
  <h4>Order Lines:</h4>
    <% @company.orders.each do |order| %>
      <%= order.lines %>
    <% end %>
  <h4>Line Supplies:</h4>
    <% @company.orders.each do |order| %>
      <% order.lines.each do |line| %>
        <%= line.supply %>
      <% end %>
    <% end %>
</div>

<div class='order_form'>
  <h5>Select which month of the year you would like to opt-in for a new order:</h5>
  <form action="/companies/<%= @company.id %>/orders" method="post">
    <select name="month" id="month">
      <option value="1">January</option>
      <option value="2">February</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    <button type="submit">Submit</button>
  </form>
</div>
