<h1> <%= @company.name %> </h1>

  <div class="company_orders">
    <h4>Orders</h4>
      <% @company.orders.each do |order| %>
        <% lines = order.lines %>
        <%= order.lines %>
      <% end %>
    <h4>Lines</h4>
      <% lines.each do { lines.supply } %>
  </div>