<h3> Create Company </h3>

<div class='company_form'>
  <form action="/campany/add" method="post">
    <input type="text" name="name" id="name">
    <button type="Submit" value='add'>Add Company</button>
  </form>
</div>
