

<h3>Company List</h3>

<form action="/companies/redirector">
  <fieldset>
    <div class='form-group'>
      <label for="company-options">Select your company to order suplies:</label>
      <select name="company_options" class="dropdown">
        <% Company.all.each do |company| %>
          <option value='<%= company.id %>'><font color="black"><%= company.name %></font></option>
        <% end %>
      </select>
    </div>
    <button id = "button" type="submit" class="btn btn-primary">Place Order</button>
  </fieldset>
</form>

<br /><br /><br /><br />

<form action="/companies" method="post">
  <fieldset>
      <div class='form-group'>
        <label for="new_company">Don't see your company above? Create a new company below:</label>
        <input type="text" name="name" id="name" class="form-control">
    </div>
    <button id="button" type="Submit" class="btn btn-primary">Add Company</button>
  </form>
</div>
