<h3>Company List</h3>

<div class='company_list'> 
  <form action="/companies/redirector">
    <p>Select your company to order suplies:</p>
    <select name="company_options">
      <% Company.all.each do |company| %>
        <option value='<%= company.id %>'><%= company.name %></option>
      <% end %>
    </select>
    <button type="submit">Go To Company Page</button
  </form>
</div>

<div class='company_form'>
  <form action="/companies" method="post">
    <input type="text" name="name" id="name">
    <button type="Submit" value='add'>Add Company</button>
  </form>
</div>



