<ul class="nav navbar-nav">
  <li><a href="/">Home</a></li>
  <li><a href="/companies">Companies</a></li>
</ul>
    
<h3>Company List</h3>

<form action="/companies/redirector">
  <fieldset>
    <div class='form-group'> 
      <label for="company-options">Select your company to order suplies:</label>
      <select name="company_options" class="form-control">
        <% Company.all.each do |company| %>
          <option value='<%= company.id %>'><%= company.name %></option>
        <% end %>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Place Order</button>
  </fieldset>
</form>

<br />

<form action="/companies" method="post">
  <fieldset>
      <div class='form-group'>
        <label for="new_company">Don't see your company above? Create a new company below:</label>
        <input type="text" name="new_company" id="new_company" class="form-control">
    </div>
    <button type="Submit" class="btn btn-primary">Add Company</button>
  </form>
</div>



