
<div id='intro'>
  <p>
    Welcome to Crowded Office, your one-stop source for collective single-address office supply ordering!
  </p>
  <p>
    With Crowded Office, you can combine your office supply orders with other companies in your building or office park - giving even smaller offices a chance to benefit from our fantastic volume dicounts on products you use every day - copy paper, pens, toner cartridges, and much more!
  </p>
</div>
