

<h1> Welcome to Crowded Office </h1>

<nav class="navbar navbar-default">
  <div class="container-fluid" style="
  padding-right: 0px;
  padding-left: 0px;
  ">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Brand</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
      <li><a href="#">Link</a></li>

    </div>

    <div>

    </header>


    <div id="banner">

      <section class="demo">
        <div class="container1">
          <div style="display: inline-block;">
            <img src="/images/office1.jpg"/>
          </div>
          <div>
            <img src="/images/office2.jpg"/>
          </div>
          <div>
            <img src="/images/office3.jpg"/>
          </div>
          <!-- <img src="http://placeimg.com/400/200/animals"/>
        </div>
        <div>
        <img src="http://placeimg.com/400/200/people"/>
      </div>
      <div>
      <img src="http://placeimg.com/400/200/tech"/> -->
    </div>
  </section>



</div>

<div id="content">


  <footer>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="container"
    style="
    padding-left: 20px;
    padding-right: 20px;
    background-color: black">

    <div class="row">
      <div class="col-sm-2">
        <h6>Copyright &copy; 2015 {name}</h6>
      </div><!-- end col-sm-2 -->

      <div class="col-sm-4">
        <h6>About Us</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>

      <div class="col-sm-2">
        <h6>Navigation</h6>
        <ul class="unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">Service</a></li>
          <li><a href="#">links</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h6>Navigation</h6>
        <ul class="unstyled">
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Google Plus</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h6>Coded with <span class="glyphicon glyphicon-heart"></span> by name </h6>

      </div>
    </div>
  </div>
</footer>


</div>

</div>
