<h1> Welcome to Crowded Office </h1>

<div class='company_dropdown'></div>
  <a href="/companies/add">Create a New Company</a>
</div>

<div class='company_list'>
    <% @company.each do |company| %>
        <%= company.name %>
    <% end %>
</div>
