<!DOCTYPE html>
<html>
	<head>
		<title>Crowded Office</title>
		  <link rel='stylesheet' href='/css/style.css'>
    	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
	</head>
	<body>
		<div>
			<%= yield %>
			<br /><br />
			<footer><a href='/' class="btn btn-default" role="button">Home</a></footer>
		</div>
	</body>
</html>
