<!DOCTYPE html>
<html>
<head>
	<title>Crowded Office</title>
	<link rel='stylesheet' href='/css/style.css'>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
	<div id="wrapper">
	<header>

		<nav class="navbar navbar-default">
			<div class="container-fluid" style="
			padding-right: 0px;
			padding-left: 0px;
			">

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<a class="navbar-brand" href="/">The Crowded Office</a>
					<li class="active"><a href="/companies">Companies <span class="sr-only">(current)</span></a></li>
					<li><a href="/supplies">Supplies</a></li>
					<li><a href="/orders">Collective Orders</a></li>
					<li><a href="/admin/reset">Admin</a></li>
				</div>
				<div>

				</header>
				<div id="banner">

					<section class="demo">
						<div class="container1">
							<div style="display: inline-block;">
								<img src="/images/office1.jpg" style="
								width: 2000px;
								height: 550px;
								">
							</div>
							<div>
								<img src="/images/office3.jpg" style="
								width: 2000px;
								height: 550px;
								">
							</div>
							<div>
								<img src="/images/office6.jpg" style="
								width: 2000px;
								height: 550px;
								">
							</div>
							<div>
								<img src="/images/office7.jpg" style="
								width: 2000px;
								height: 550px;
								">
							</div>
						</div>
					</section>
				</div>

				<div>
					<div  id="content">
						<%= yield %>
					</div>

					<footer>
						<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
						<div class="wrapper2" style="
						z-index: 9999;
						">
						<div class="container"
						style="
						padding-left: 20px;
						padding-right: 20px;
						background-color: black;
						">

						<div class="row" style="
						height: 175px;">
							<div class="col-sm-2">
								<h6>Copyright &copy; 2015 </h6>
							</div>

							<div class="col-sm-4">
								<h6>About Us</h6>
								<p>Crowded Office is a leading global provider of products, services, and solutions for every workplace  whether your workplace is an office, home, school, or car.

								</p>
							</div>

							<div class="col-sm-2">
								<h6>Navigation</h6>
								<ul class="unstyled">
									<li><a href="/">Home</a></li>
									<li><a href="/supplies">Supplies</a></li>
									<li><a href="#">links</a></li>
									<li><a href="#">Contact</a></li>
								</ul>
							</div>

							<div class="col-sm-2">
								<h6>Navigation</h6>
								<ul class="unstyled">
									<li><a href="https://twitter.com/?lang=en">Twitter</a></li>
									<li><a href="https://www.facebook.com/">Facebook</a></li>
									<li><a href="https://accounts.google.com/ServiceLogin?service=oz&passive=1209600&continue=https://plus.google.com/?gpsrc%3Dgplp0#identifier">Google Plus</a></li>
								</ul>
							</div>

							<div class="col-sm-2">
							</div>
						</div>
					</div>
				</div>
				</footer>


			</div>

		</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/js/scripts.js"></script>
</div>
</body>
</html>
