<div class="orders">
  <h1> Here are all the orders for <%= @company.name %>: </h1>
    <%= @order.lines %>
    <%= @order.month %>
    <% @order.lines.each do |line| %>
      <%= line.supply %>
    <% end %>
</div>
