<div class="orders">
  <h1> Fill out the order form for <%= @order.month_name %> </h1>
  <form action="#" method="get">
    <input type="checkbox" name="supply" value="Paper"> Paper<br>
    <input type="checkbox" name="supply" value="Staples"> Staples<br>
    <input type="submit" value="Submit">
  </form>
</div>
