body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  text-align: center;
}

tbody {
  text-align: left;
}

header {
  height: 100px;
  background: #dbdbdb;
  width: 100%;
  z-index: 9999;
  position: fixed;
  background: #FFFFFF;
}

.navbar-default {
  position: fixed;
  top: 50px;
}

.footer {
  z-index: 50px;
}

#banner {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 100px;
  background: black;
}

#content {
  width: 100%;
  position: relative;
  top: 400px;
  z-index: 100px;
  background: rgb(61, 79, 109);
  height: 800px;
}

ul {
  list-style-type: none;
}

.container1 {
  max-width: 1500px;
  max-length: 500px
  background-color: black;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.container1 div {
  background-color: white;
  width: 100%;
  display: inline-block;
  display: none;
}
.container1 img {
  width: 100%;
  height: auto;
}

button {
  position: absolute;
}

.next {
  right: 5px;
}

.prev {
  left: 5px;
}
